<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                {% for item in site.data.navigation %}
                <a href="{{ item.link }}"
                   class="mdc-button mdc-button--unelevated">
                    <span class="mdc-button__label">{{ item.name }}</span>
                </a>
                {% endfor %}
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <md-switch>
                <span id="theme-switch" class="material-icons" onclick="toggleTheme()">dark_mode</span>
            </md-switch>
        </section>
    </div>
</header>